@{
    ViewData["Title"] = "Contact Page";
}
<!-- breadcrumb -->
<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end breadcrumb -->

<!-- main content -->
<div class="main-content pb-80">
    <div class="container">
        <!-- contact form -->
        <div class="row" id="contactForm">
            <div class="col-lg-6">
                <div class="custom-form custom-form--box">
                    <h3 class="custom-form__title">We'd love to hear from you</h3>
                    <form>
                        <div class="form-group custom-form__input">
                            <label for="identity">Name</label>
                            <input type="text" class="form-control" id="identity" placeholder="">
                        </div>
                        <div class="form-group custom-form__input">
                            <label for="email">Email</label>
                            <input type="email" class="form-control ltr" id="email" placeholder="">
                        </div>
                        <div class="form-group custom-form__input">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control ltr" id="phone" placeholder="">
                        </div>
                        <div class="form-group custom-form__input">
                            <label for="textareaInput">Message</label>
                            <textarea class="form-control" id="textareaInput" rows="5"
                                      placeholder=""></textarea>
                        </div>
                        <div class="custom-form__btn">
                            <button type="submit" class="btn submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end contact form -->
            <!-- contact information -->
            <div class="col-lg-6">
                <div class="contact-info">
                    <h2 class="contact-info__title">Contact information</h2>
                    <ul class="contact-info__list">
                        <li class="contact-info__list--item">
                            <strong>Address :</strong>
                            <span>Bronx, NY 10457. 57 High Noon St. Lindenhurst, NY 11757. 180 Walnutwood Street. New York, NY 10128.</span>
                        </li>
                        <li class="contact-info__list--item">
                            <strong>Phone :</strong>
                            <span>+1-202-555-0108</span>
                        </li>
                        <li class="contact-info__list--item">
                            <strong>Email :</strong>
                            <span>Example@info.com</span>
                        </li>
                    </ul>
                    <ul class="contact-info__social">
                        <li>
                            <a href="#"><i class="icon-facebook facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-instagram instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-twitter twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-linkedin linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- google map -->
                <div class="location">
                    <div id="map"></div>
                </div>
                <script>
                    // Initialize and add the map
                    function initMap() {
                        // The location of Uluru
                        var uluru = {lat: -25.344, lng: 131.036};
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), {zoom: 4, center: uluru});
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({position: uluru, map: map});
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAosJWb59LsJXUHoNZZSCHYIXa07n7Nm1s&amp;callback=initMap">
                </script>
                <!-- end google map -->
            </div>
            <!-- end contact information -->
        </div>
    </div>
    <div class="container-fluid newsletter-banner mt-100"
         style="background-image: url('/images/banners/banner-bg-06.jpg');">
        <div class="banner__overlay"></div>
        <div class="container">
            <div class="newsletter-banner__content">
                <h3>feel free to join us</h3>
                <span>Subscribe Now</span>
                <form>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-6 col-sm-8 col-10 mx-auto">
                            <div class="input-group ltr">
                                <input type="email" class="form-control" id="subscribeInputEmail"
                                       placeholder="Enter your email" aria-describedby=Emailsubscribe>
                                <div class="input-group-append">
                                    <button class="btn" type="submit" id="Emailsubscribe">Subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->