
@{
    ViewData["Title"] = "Foget_password";
}   
<!-- breadcrumb -->
<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reset password</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<!-- main content -->
<div class="main-content pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                <div class="custom-form custom-form--box">
                    <h3 class="custom-form__title">Recover your password</h3>
                    <form>
                        <div class="form-group custom-form__input">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" class="form-control ltr" id="inputEmail" placeholder="">
                        </div>
                        <div class="custom-form__btn">
                            <button type="submit" class="btn submit-btn">Send Email</button>
                        </div>
                    </form>
                    <div class="custom-form__img">
                        <img src="/images/resetpassword.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->