
@{
    ViewData["Title"] = "Purchase";
}
<!-- breadcrumb -->
<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Successful purchase</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<!-- main content -->
<div class="main-content pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                <div class="item-box">
                    <h1 class="item-box__title">Thank you for your purchase</h1>
                    <div class="item-box__content">
                        <span>Your order number</span>
                        <span>12345678</span>
                        <a href="#">View details</a>
                    </div>
                </div>
            </div>
        </div>

        <!--            <div class="item-column item-column&#45;&#45;bg">-->
        <!--            <div class="row">-->
        <!--                <div class="col-8 item-column&#45;&#45;center">-->
        <!--                    <h1 class="main-title">Thank you for your purchase</h1>-->
        <!--                    <div class="item-column__img">-->
        <!--                        <img src="images/blog2.jpg" alt="">-->
        <!--                    </div>-->
        <!--                    <div class="item-column__content">-->
        <!--                        <span>Your order number</span>-->
        <!--                        <span>12345678</span>-->
        <!--                        <a href="#">View details</a>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<!-- end main content -->