
@{
    ViewData["Title"] = "Shop Page";
}

<!-- header slider  -->
<div class="container">
    <div class="slider-area hero-header">
        <div class="owl-carousel ltr" id="shopListSlider">
            <div class="shop-slider">
                <div class="container">
                    <div class="row shop-slider__row">
                        <div class="col-lg-5 col-12">
                            <div class="shop-slider__inner slider-animated">
                                <h5 class="slider-subtitle">2020 collection</h5>
                                <h1 class="slider-title animated"><a href="#"></a>New Chairs Collection</h1>
                                <p class="slider-content animated">Lorem Ipsum is simply dummy text of the printing
                                    and
                                    typesetting industry. It is a long established fact that a reader.</p>
                                <div class="slider-btn">
                                    <a class="btn animated" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12">
                            <div class="shop-slider__img slider-animated">
                                <img class="animated" src="/images/header/slider-bg-02.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-slider">
                <div class="container">
                    <div class="row shop-slider__row">
                        <div class="col-lg-5 col-12">
                            <div class="shop-slider__inner slider-animated">
                                <h5 class="slider-subtitle">2020 collection</h5>
                                <h1 class="slider-title animated"><a href="#"></a>New Chairs Collection</h1>
                                <p class="slider-content animated">Lorem Ipsum is simply dummy text of the printing
                                    and
                                    typesetting industry. It is a long established fact that a reader.</p>
                                <div class="slider-btn">
                                    <a class="btn animated" href="#">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-12">
                            <div class="shop-slider__img slider-animated">
                                <img class="animated" src="/images/header/slider-bg-01.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header slider -->
<div class="main-content pt-50 pb-80">
    <div class="container">
        <!-- toolbox -->
        <div class="row">
            <div class="col-12">
                <div class="shop-toolbox">
                    <div class="toolbox-layout">
                        <span>Show:</span>
                        <ul>
                            <li><a class="active" href="#">12</a></li>
                            <li><a href="#">15</a></li>
                            <li><a href="#">30</a></li>
                        </ul>
                    </div>
                    <div class="toolbox-sort">
                        <form>
                            <div class="form-group">
                                <select class="form-control" id="sortOption">
                                    <option selected>Sort by</option>
                                    <option>Newest</option>
                                    <option>Best sellers</option>
                                    <option>Lowest price</option>
                                    <option>Highest price</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end toolbox -->
        <div class="row">
            <!-- product list -->
            <div class="col-lg-9 col-md-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-08.jpg" alt="">
                                    <span class="badge card-item__bg--badge">New</span>
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$299.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-02.jpg" alt="">
                                    <!--                                            <span class="badge card-item__bg&#45;&#45;badge">New Arrival</span>-->
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$390.99</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-03.jpg" alt="">
                                    <!--                                            <span class="badge card-item__bg&#45;&#45;badge">New Arrival</span>-->
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$90.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-01.jpg" alt="">
                                    <span class="badge card-item__bg--badge">50% Sale</span>
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$320.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-09.jpg" alt="">
                                    <span class="badge card-item__bg--badge">20% Sale</span>
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$320.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-10.jpg" alt="">
                                    <!--                                            <span class="badge card-item__bg&#45;&#45;badge">New Arrival</span>-->
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$320.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-11.jpg" alt="">
                                    <span class="badge card-item__bg--badge">New Arrival</span>
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$320.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-12.jpg" alt="">
                                    <!--                                            <span class="badge card-item__bg&#45;&#45;badge">New Arrival</span>-->
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$320.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="card-item card-item--light mb-30">
                            <div class="card-item__bg">
                                <a href="#"><img src="/images/product-13.jpg" alt="">
                                    <span class="badge card-item__bg--badge">New</span>
                                </a>
                            </div>
                            <div class="card-item__body">
                                <div class="card-item__body--price">
                                    <strong>$320.00</strong>
                                </div>
                                <div class="card-item__body--title">
                                    <a href="#"><h4>Modern fabric armchair</h4></a>
                                </div>
                                <div class="product-rate">
                                    <div class="product-rate__star">
                                        <span class="rate-3"></span>
                                    </div>
                                    <div class="rate-number">
                                        (3)
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__overlay">
                                <ul class="action-btn">
                                    <li><a href="#" class="icon-box"><i class="icon-search"></i></a></li>
                                    <li class="wishlist-btn"><span class="icon-box"><i
                                            class="wishlist__icon icon-heart"></i></span></li>
                                </ul>
                                <a href="#" class="btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
                <div class="row">
                    <div class="col-12">
                        <div class="shop-pagination">
                            <nav aria-label="Page navigation">
                                <ul class="pagination custom-pagination">
                                    <!-- <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>-->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i
                                            class="fas fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <span class="result">
                               Showing 1-8 of 12 result
                            </span>
                        </div>
                    </div>
                </div>
                <!-- end pagination -->
            </div>
            <!-- end product list -->
            <!-- shop sidebar -->
            <div class="col-lg-3 col-md-4 sidebar sidebar--order">
                <div class="sidebar-shop">
                    <form action="http://127.0.0.1/form.php" method="post">
                        <div class="accordion" id="sidebarShop">
                            <!-- categories -->
                            <div class="widget">
                                <div class="widget__heading" id="headingOne">
                                    <a href="#" class="btn widget__heading--title" data-toggle="collapse"
                                       data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h3>Category<span class="widget__heading--icon"></span></h3>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                    <div class="widget__body">
                                        <ul class="widget-list">
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="cat-01">
                                                    <label class="form-check-label" for="cat-01">
                                                        All
                                                    </label>
                                                </div>
                                                <span class="badge">56</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="cat-02">
                                                    <label class="form-check-label" for="cat-02">
                                                        Sofa
                                                    </label>
                                                </div>
                                                <span class="badge">30</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="cat-03">
                                                    <label class="form-check-label" for="cat-03">
                                                        Chairs
                                                    </label>
                                                </div>
                                                <span class="badge">25</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="cat-04">
                                                    <label class="form-check-label" for="cat-04">
                                                        Tables
                                                    </label>
                                                </div>
                                                <span class="badge">15</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="cat-05">
                                                    <label class="form-check-label" for="cat-05">
                                                        Bed
                                                    </label>
                                                </div>
                                                <span class="badge">15</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="cat-06">
                                                    <label class="form-check-label" for="cat-06">
                                                        Lighting
                                                    </label>
                                                </div>
                                                <span class="badge">15</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- colors -->
                            <div class="widget">
                                <div class="widget__heading" id="headingTwo">
                                    <a href="#" class="btn widget__heading--title" data-toggle="collapse"
                                       data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <h3>Colors<span class="widget__heading--icon"></span></h3>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                                    <div class="widget__body">
                                        <ul class="color-list">
                                            <li class="color-list__item">
                                                <label for="color_Blue" style="background-color: #668cb9;"
                                                       data-allow-multiple="" class="btn-color"> </label>
                                                <input type="checkbox" name="color[]" value="668cb9"
                                                       id="color_Blue" class="input-invisible">
                                            </li>
                                            <li class="color-list__item">
                                                <label for="color_White" style="background-color: #f8f8f8"
                                                       data-allow-multiple="" class="btn-color"> </label>
                                                <input type="checkbox" name="color[]" value="f8f8f8"
                                                       id="color_White" class="input-invisible">
                                            </li>
                                            <li class="color-list__item">
                                                <label for="color_Violet" style="background-color: #8b6ea4"
                                                       data-allow-multiple="" class="btn-color"> </label>
                                                <input type="checkbox" name="color[]" value="8b6ea4"
                                                       id="color_Violet" class="input-invisible">
                                            </li>
                                            <li class="color-list__item">
                                                <label for="color_Gray" style="background-color: #808080"
                                                       data-allow-multiple="" class="btn-color"> </label>
                                                <input type="checkbox" name="color[]" value="dd6265"
                                                       id="color_Gray" class="input-invisible">
                                            </li>
                                            <li class="color-list__item">
                                                <label for="color_Red" style="background-color: #dd6265"
                                                       data-allow-multiple="" class="btn-color"> </label>
                                                <input type="checkbox" name="color[]" value="dd6265"
                                                       id="color_Red" class="input-invisible">
                                            </li>
                                            <li class="color-list__item">
                                                <label for="color_Black" style="background-color: #000000"
                                                       data-allow-multiple="" class="btn-color"> </label>
                                                <input type="checkbox" name="color[]" value="dd6265"
                                                       id="color_Black" class="input-invisible">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- price range -->
                            <div class="widget">
                                <div class="widget__heading" id="headingThree">
                                    <a href="#" class="btn widget__heading--title" data-toggle="collapse"
                                       data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <h3>Price<span class="widget__heading--icon"></span></h3>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                                    <div class="widget__body">
                                        <!-- product price widget -->
                                        <div class="widget__body--item filter-price">
                                            <div class="filter-price__value">
                                                <label for="amount">Price Range:</label>
                                                <input type="text" class="price-range" id="amount" name="price"
                                                       readonly>
                                                <input type="hidden" name="price-min" value="0">
                                                <input type="hidden" name="price-max" value="0">
                                            </div>
                                            <div id="slider-range"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- brands -->
                            <div class="widget">
                                <div class="widget__heading" id="headingFour">
                                    <a href="#" class="btn widget__heading--title" data-toggle="collapse"
                                       data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <h3>Brands<span class="widget__heading--icon"></span></h3>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour">
                                    <div class="widget__body">
                                        <ul class="widget-list">
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="br-01">
                                                    <label class="form-check-label" for="br-01">
                                                        All
                                                    </label>
                                                </div>
                                                <span class="badge">56</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="br-02">
                                                    <label class="form-check-label" for="br-02">
                                                        Ikea
                                                    </label>
                                                </div>
                                                <span class="badge">30</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="br-03">
                                                    <label class="form-check-label" for="br-03">
                                                        Wallmart
                                                    </label>
                                                </div>
                                                <span class="badge">25</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="br-04">
                                                    <label class="form-check-label" for="br-04">
                                                        Bloomingdale's
                                                    </label>
                                                </div>
                                                <span class="badge">15</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="br-05">
                                                    <label class="form-check-label" for="br-05">
                                                        H & M
                                                    </label>
                                                </div>
                                                <span class="badge">15</span>
                                            </li>
                                            <li class="widget-list__item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="br-06">
                                                    <label class="form-check-label" for="br-06">
                                                        Zara
                                                    </label>
                                                </div>
                                                <span class="badge">15</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- form submit button -->
                                <!--                            <button type="submit" class="btn submit-btn">Submit widget</button>-->
                            </div>
                        </div>
                    </form>
                    <!-- filter tags -->
                    <div class="filter-tag">
                        <div class="filter-tag__heading">
                            <h3>Filters</h3>
                        </div>
                        <div class="filter-tag__list">
                            <ul>
                                <li class="filter-tag__list--item">
                                    <a href="#"><i class="fas fa-times"></i></a>
                                    <span>all</span>
                                </li>
                                <li class="widget-tags__list--item">
                                    <a href="#"><i class="fas fa-times"></i></a>
                                    <span>gray</span>
                                </li>
                                <li class="widget-tags__list--item">
                                    <a href="#"><i class="fas fa-times"></i></a>
                                    <span>$32-$100</span>
                                </li>
                                <li class="widget-tags__list--item">
                                    <a href="#"><i class="fas fa-times"></i></a>
                                    <span>Ikea</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end shop sidebar -->
        </div>
    </div>
</div>
